.user-list {
  padding: 0;
  margin-top: 16px;
}

.user-list li {
  min-width: 200px;
  list-style: none;
}

.user-list li p {
  font-size: 1.3rem;

  &:first-child {
    margin-right: 6px;
  }
  &:last-child {
    margin-left: 6px;
  }
}
