.form-card {
  box-sizing: border-box;

  padding-inline: 32px !important;
}

.form-card p {
}

.form-card > p {
  align-self: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.form-component {
  margin-block: 5px;
  gap: 10px;
}

.form-component label {
  flex: 1;
  text-align: center;
  font-size: 1.2rem;
}

.form-component input {
  flex: 1;
  border-radius: 10px;
  border: none;

  background-color: var(--primary-70);
  padding: 0.2rem 0.3rem;

  border-bottom: 2px solid var(--background-15);

  outline: none;
}

.form-card button[type="submit"] {
  border-radius: 10px;
  border: none;

  background-color: var(--primary-70);
  padding: 0.2rem 0.3rem;

  border-bottom: 2px solid var(--background-15);

  outline: none;

  cursor: pointer;

  &:hover {
    margin-top: 1px;
    border-bottom-width: 1px;
    background-color: var(--primary-65);
  }

  &:active {
    margin-top: 2px;
    border-bottom-width: 0px;
  }
}
